<div class="login-wrapper" fxLayout="row" fxLayoutAlign="center center">

    <mat-card class="box">
      <form #sentence = "ngForm" (ngSubmit) = "onClickSubmit(sentence.value)" class="example-form">
        <mat-card-content>
          <mat-form-field class="example-full-width">
            <input matInput type = "text" name = "text" placeholder="Palavra" ngModel>
          </mat-form-field>
          {{message}}
        </mat-card-content>
        <mat-chip-list >
          <mat-chip color="primary" selected *ngFor="let item of suggestion;">{{item.sentence}}</mat-chip>
        </mat-chip-list>
        <p></p>
        <button mat-stroked-button color="accent" class="btn-block">Submeter</button>

      </form>
    </mat-card>

  </div>
